

#main {
    display: flex;
    justify-content: center;
    height: fit-content;
}

#gameGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 400px;
    width: 400px;
    margin-top: 150px;
    grid-template-areas: 
    "cell1 cell2 cell3"
    "cell4 cell5 cell6"
    "cell7 cell8 cell9";
    animation: fadeIn 1.7s linear;
    user-select: none;
    border: 2px solid black;
}

#gameGrid:hover {
    cursor: pointer;
}

#cell1 {
    grid-area: cell1;
}

#cell2 {
    grid-area: cell2;
}

#cell3 {
    grid-area: cell3;
}

#cell4 {
    grid-area: cell4;
}

#cell5 {
    grid-area: cell5;
}

#cell6 {
    grid-area: cell6;
}

#cell7 {
    grid-area: cell7;
}

#cell8 {
    grid-area: cell8;
}

#cell9 {
    grid-area: cell9;
}

.gridCell {
    border: 2px solid black;
    background-color: #b4bbbf;
    font-size: 50px;
    color: red;
    text-align: center;
    line-height: 129px;
}

.victoryContainer {
    position: absolute;
    height: 400px;
    width: 400px;
    top: 50;
    left: 50;
    background-color: white;
    animation: victoryPopUp 0.7s linear;
}

.victoryMsg{
    text-align: center;
    line-height: 320px;
    font-size: 40px;
}

.startContainer {
    position: absolute;
    height: 50px;
    width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 80px 0px;
}

.startButton:hover {
    cursor: pointer;
}

.startButton {
    margin: 10px;
    font-size: 20px;
    font-family: 'Hachi Maru Pop', cursive;
}
.titleTag {
    margin: 10px;
    text-align: center;
    line-height: 400px;
    font-size: 40px;
    font-family: 'Hachi Maru Pop', cursive;
}

.titleContainer {
    position: absolute;
    height: 400px;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-200px, -200px);
}

.pushUp {
    animation: pushUp 0.7s linear forwards;
}

.reset {
    display: inline;
    line-height: 40px;
    margin: 0px 5px;
    font-family: 'Hachi Maru Pop', cursive;
}

.rotateAnimation {
    animation: rotate 1s linear forwards;
}

.resetContainer {
    position: absolute;
    margin-top: 10px;
    left: 40%;
    width: fit-content;
    height: 40px;
    border: 1px solid black;
    border-radius: 2px;
    transition: transform 0.2s;
}

.resetFadeIn {
    animation: fadeIn 1.5s linear forwards;
}

.resetContainer:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#opponentContainer {
    position: absolute;
    margin-top: 10px;
    left: 47.5%;
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    border-radius: 2px;
    animation: fadeIn 1.5s linear forwards;
}

.opponentGrid {
    display: grid;
    height: 40px;
    width: 260px;
    grid-template-areas: 
    "human vs ai";
}


.select {
    font-size: 15px;
    border: none;
    background-color: white;
    font-family: 'Hachi Maru Pop', cursive;
}

.AI:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.human:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.AI {
    grid-area: ai;

}

.human {
    grid-area: human;
    
}

.vs {
    grid-area: vs;
    color: red;
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 25px;
    margin: 0px 20px;
    border: none;
    background-color: white;
   
}

.vs:focus, .select:focus {
    outline: none;
}

.currentSelection {
    border: 2px solid black;
    border-radius: 10px;
    transform:scale(1.3);
    background-color: #f2ea7c;
}


@keyframes pushUp {
    0% {
        transform: translate(-200px, -200px);
    }
    33% {
        transform: translate(-200px, -360px);
    }

    67% {
        transform: translate(-200px, -480px);
    }

    100% {
        transform: translate(-200px, -600px);

    }
}

@keyframes fadeOut {
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 50%;
    }
    100% {
        opacity: 0%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    25% {
        opacity: 0%;
    }
    40% {
        opacity: 25%;
    }
    60% {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes victoryPopUp {
    0% {
        opacity: 0%;
    }
    33% {
        opacity: 33%;
    }
    67% {
        opacity: 66%
    }
    100% {
        opacity: 100%;
    }
}

@media screen and (max-height: 650px) {
    @keyframes pushUp {
        0% {
            transform: translate(-200px, -200px);
        }
        33% {
            transform: translate(-200px, -300px);
        }
    
        67% {
            transform: translate(-200px, -400px);
        }
    
        100% {
            transform: translate(-200px, -400px);
    
        }
    }
}